h1{
    color: rgb(55, 117, 128);
    border: solid 2px black;
    font-size: 2em;
}

<<<<<<< HEAD
=======
h2{
    color: blue;
}

body{
    background-color: cadetblue;
}
>>>>>>> 45cf3805088842557966bcfeb8209756aef20fd8
